footer {
    padding: 24px 0;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.footer-container {
    padding: 0 40px;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-container ul li {
    color: rgba(0, 0, 0, .56);
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
    cursor: pointer;
}

.footer-container ul li:hover {
    color: rgba(0, 0, 0, .87);
}

.links-container {
    width: 190px;
    margin-right: 24px;
}

footer h3 {
    font-weight: 400;
    margin-bottom: 24px;
}


hr {
    width: 80%;
}

.footer-icons {
    max-width: 80%;
    margin: 0 auto;
}

.footer-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 32px;
}

.footer-icons ul li {
    display: inline-block;
    color: rgba(0, 0, 0, .56);
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
    cursor: pointer;
}

.footer-icons ul li:hover {
    color: rgba(0, 0, 0, .87);
}

.footer-bottom {
    max-width: 80%;
    margin: 0 auto;
}

.footer-bottom ul {
    list-style-type: none;
}

.footer-bottom ul li {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}

.footer-bottom ul li:hover {
    text-decoration: underline;
}

.footer-bottom span {
    padding-left: 10px;
}

.footer-bottom p {
    margin: 0 auto;
}