.announcements {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    background-color: #d8e8e3;
}

.announcements span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}

.left-right-section {
    display: flex;
}

.left-right-section .text {
    width: 50%;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f8f6;
    color: #1e3932;
}

.left-right-section .image {
    width: 50%;
    height: 420px;
}

.left-right-section .image img {
    height: 100%;
    width: 100%;
}

.text h1 .text h3 {
    margin: 0;
    font-weight: 400;
}

.text h1 {
    margin-bottom: 24px;
}

.text h3 {
    margin-bottom: 32px;
    font-size: 19px;
}

.text .cta {
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: #1e3932;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.text .cta:hover {
    background-color: rgba(30, 57, 50, .1);
}